<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dips.smartscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateTask"/>
        <activity android:name=".ViewTask">
        </activity>
        <activity android:name=".LogIn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount"
                  android:label="Create Account">
        </activity>
        <activity android:name=".GroupList" >
        </activity>
        <activity android:name=".InviteToGroup" >
        </activity>
        <activity android:name=".CreateGroup" >
        </activity>
        <activity android:name=".ViewSingleTask" >
        </activity>
        <activity android:name=".CompleteTask">
        </activity>
    </application>

</manifest>
