<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dips.smartscheduler">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CreateTask"
            android:label="Create Account"></activity>
        <activity
            android:name=".ViewTask"
            android:label="Task"></activity>
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="Create Account"></activity>
        <activity
            android:name=".GroupList"
            android:label="Group List"></activity>
        <activity
            android:name=".InviteToGroup"
            android:label="Create Account"></activity>
        <activity
            android:name=".CreateGroup"
            android:label="Create Group"></activity>
        <activity
            android:name=".ViewSingleTask"
            android:label="Task"></activity>
        <activity
            android:name=".CompleteTask"
            android:label="Complete Task"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
